body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
}
.sidebar {
    background-color: aqua;
    height: 100vh;
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
}

.main {
    background-color: grey;
    height: 800px;
    width: 770px;
    margin-left: 220px;
}
.stories {
    background-color: blueviolet;
    height: 130px;
    width: 620px;
    margin-left: 75px;
}

.feed {
    display: flex;
    justify-content: center;
}

.feedperfil {
    background-color: black;
    height: 30px;
    width: 390px;
}

.feedimg {
    background-color: chartreuse;
    height: 500px;
    width: 400px;
    margin-top: 75px;
}