body {
    height: 98vh;
    display: grid;
    place-items: center;
}

.nome {
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    display: grid;
    place-items: center;
}

.camada1 {
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.camada2 {
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    place-items: center;
}

.camada3 {
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.subcamada {
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
}